@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
            
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-decoration: underline;
    /* text-indent: 156px; */
    text-align: center;
    }
p{
    /* font-family: "Baloo Bhai 2", sans-serif;
    /*<!-- font-style: italic;
    font-weight: 300;
    text-decoration: line-through; -->*/
    line-height: 100%; 
    /* increses the space between lines of text */
    letter-spacing: 4px;
    /* increses the letter-spacing; */
    font-size: 32px;
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: green ;
    }

h2{
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 7px;
    /* cpatalizes the first letter of each word */

}
.lorem{
    border: 10px solid green;
    width: 200px;
    overflow: scroll;
    text-overflow: clip;
}